<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">

    <!-- profiles for deployed and local apps -->
    <springProfile name="dev | test | prod">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>
    <springProfile name="local">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <!-- http://logback.qos.ch/manual/layouts.html -->
                <pattern>[%blue(%d{yyyy-MM-dd HH:mm:ss})] [%yellow(%-5level)] [%green(%-70.70logger)] - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <!-- make logback stop logging itself -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!-- silence loud spring things -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.springframework.boot.web.servlet.context.ServletWebServerApplicationContext" level="WARN"/>
    <logger name="org.springframework.boot.web.embedded.tomcat.TomcatWebServer" level="WARN"/>
    <logger name="org.springdoc.api.AbstractOpenApiResource" level="WARN"/>
    <logger name="org.springframework.web.servlet.DispatcherServlet" level="WARN"/>

    <!-- silence loud apache things -->
    <logger name="org.apache" level="INFO"/>
    <logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN"/>
    <logger name="org.apache.catalina.core.StandardService" level="WARN"/>
    <logger name="org.apache.catalina.core.StandardEngine" level="WARN"/>
    <logger name="org.apache.catalina.core.ContainerBase" level="WARN"/>
    <logger name="org.springframework.boot.actuate.endpoint.web.EndpointLinksResolver" level="WARN"/>

    <!-- silence loud ffmpeg things -->
    <logger name="com.github.kokorin.jaffree.process.BaseStdReader" level="WARN"/>
    <logger name="com.github.kokorin.jaffree.process.ProcessHandler" level="WARN"/>
    <logger name="com.github.kokorin.jaffree.ffmpeg.PipeOutput" level="WARN"/>

    <!-- DEBUG: display an informative message for any service that gets called -->
    <logger name="com.dg.securitycams.transcoder.service.any.CallLogger" level="DEBUG"/>

    <!-- INFO: prints additional startup info -->
    <logger name="com.dg.securitycams.transcoder.SpringApplication" level="WARN"/>
</configuration>